[Unit]
Description=Create ssh and http tunnel to the server
After=network-online.target client_init.target
Wants=network-online.target client_init.target

[Install]
WantedBy=last.target

[Service]
ExecStart=/bin/bash /home/pi/car_audio/raspbian/setup_ssh_tunnel.sh
Type=simple
User=pi
WorkingDirectory=/home/pi
Restart=on-failure
RestartSec=5

